<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='adopt')">



<head>
<title>Safira - contact page</title>

</head>

<body>

	<!--header area start-->

	<!--offcanvas menu area start-->


	<!--offcanvas menu area end-->


	<!--header area end-->

	<!--breadcrumbs area start-->

	<!--breadcrumbs area end-->
	<th:block layout:fragment="content">
		<!--contact map start-->
		<!-- <div class="contact_map mt-70">
       <div class="map-area">
          <div id="googleMap"></div>
       </div>
    </div>-->
		<!--contact map end-->

		<!--contact area start-->
		<div class="contact_area" style="margin-top: 100px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="contact_message content">
							<h3 style="font-weight: bold">펫 정보</h3>
							<p>
								펫 종류: <span th:text="${pet.petType}"></span>
							</p>
							<p>
								펫 성별: <span th:text="${pet.petGender}"></span>
							</p>
							<p>
								펫 특징: <span th:text="${pet.petCharacter}"></span>
							</p>
							<img src="#" th:src="@{/image/pet/}+${pet.getPetImage}"
								style="width: 400px">

							<!--	<ul>
								<li><i class="fa fa-fax"></i> 주소 : 서울시 강남구</li>
								<li><i class="fa fa-phone"></i> <a href="#">Infor@roadthemes.com</a></li>
								<li><i class="fa fa-envelope-o"></i><a href="tel:0(1234)567890">0(1234) 567 890</a>
								</li>
							</ul>-->
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="contact_message form">
							<h3 style="font-weight: bold">신청 양식</h3>
							<form id="contact-form" method="POST"
								th:action="@{/create-adopt}" th:object="${adopt}">
								
							<input type="hidden" name="petNo" th:value="${pet.petNo}" />	
								
								<!-- <p>
									<label> 이름 </label> <input name="name" placeholder="Name *"
										type="text">
								</p>
								<p>
									<label> 연락처 </label> <input name="email" placeholder="Email *"
										type="email">
								</p>
								<p>
									<label> 주소 </label> <input name="subject"
										placeholder="Subject *" type="text">
								</p> -->
								<!-- <div class="contact_textarea">
									<label> 하고싶은 말</label>
									<textarea placeholder="Message *" name="message" class="form-control2"></textarea>
								</div> -->
								<p>
									<label>방문 날짜</label> 
									<input type="date" name="adoptDate">
								</p>
								<p>
									<label>방문 시간</label> 
									<select name="adoptTime">
										<option value="09">09 AM</option>

										<option value="10">10 AM</option>

										<option value="11">11 AM</option>

										<option value="12">12 PM</option>

										<option value="13">13 PM</option>

										<option value="14">14 PM</option>

										<option value="15">15 PM</option>

										<option value="16">16 PM</option>

										<option value="17">17 PM</option>

										<option value="18">18 PM</option>

										<option value="19">19 PM</option>
									</select>
								</p>

								<button type="submit">submit</button>
								<p class="form-messege"></p>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<!--contact area end-->

	<!--footer area start-->

	<!--footer area end-->



	<!-- JS
============================================ -->

	<!--map js code here-->
	<script
		src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.22&amp;key=AIzaSyChs2QWiAhnzz0a4OEhzqCXwx_qA9ST_lE"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script src="assets/js/map.js"></script>


</body>

</html>