<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='center_insert_form')">

<head>
	<meta charset="UTF-8">
	<title>Add Center</title>
</head>

<body>
	<th:block layout:fragment="content">
		<h2>Add Center</h2>

		<form name="f" id="center_insert_form" action="#" th:action="@{'/centerInsertForm'}" method="post" enctype="multipart/form-data">
			<label for="centerName">이름:</label>
			<input type="text" id="centerName" name="centerName" th:field="*{centerName}" required>

			<label for="centerPhoneNumber">전화번호:</label>
			<input type="text" id="centerPhoneNumber" name="centerPhoneNumber" th:field="*{centerPhoneNumber}" required>

			<label for="centerLocal">지역:</label>
			<input type="text" id="centerLocal" name="centerLocal" th:field="*{centerLocal}" required>

			<label for="centerOpenCloseTime">영업시간:</label>
			<input type="text" id="centerOpenCloseTime" name="centerOpenCloseTime" th:field="*{centerOpenCloseTime}"
				required>

			<label>사진</label>
			<input type="file" id="imageFile" name="imageFile" style="border: none;">
			<div class="login_submit" style="margin-top: 10px;">


				    <button type="submit">센터 추가</button>

		</form>

</body>

</html>
<script>
	$('#center_insert_form').on('submit', function (e) {
		 //폼이 유효하지 않으면 전송을 중지
		if (!$(this).valid()) {
			e.preventDefault();
		}
		window.location.href = "centerListAll";
	});
</script>
</th:block>
<!-- customer login end -->

<!--footer area start-->

<!--footer area end-->
</body>

</html>