<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout/layout(title='')">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Safira - login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    

    
    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--owl carousel min css-->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!--slick min css-->
    <link rel="stylesheet" href="assets/css/slick.css">
    <!--magnific popup min css-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!--font awesome css-->
    <link rel="stylesheet" href="assets/css/font.awesome.css">
    <!--ionicons css-->
    <link rel="stylesheet" href="assets/css/ionicons.min.css">
    <!--linearicons css-->
    <link rel="stylesheet" href="assets/css/linearicons.css">
    <!--animate css-->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!--jquery ui min css-->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <!--slinky menu css-->
    <link rel="stylesheet" href="assets/css/slinky.menu.css">
    <!--plugins css-->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!--modernizr min js here-->
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>

</head>

<body>

     <!--header area start-->
    
    <!--offcanvas menu area start-->
    
    <!--header area end-->

    <!--breadcrumbs area start-->
    <th:block layout:fragment="content">
    <!--breadcrumbs area end-->
    
    <!-- customer login start -->
    
    <div class="customer_login" id="content">
        <div class="container">
            <div class="row">
               <!--login area start-->
               <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2>로그인</h2>
                    <form action="my-account.html" onsubmit="return validateLoginForm()">
                        
                        <p>   
                            <label>아이디 <span>*</span></label>
                            <input type="text" id="loginUserId">
                         </p>
                         <p>   
                            <label>비밀번호 <span>*</span></label>
                            <input type="password" id="loginPassword">
                         </p>   
                        <div class="login_submit">
                           <a href="#"></a>
                            <label for="remember">
                                <input id="remember" type="checkbox">
                                Remember me
                            </label>
                            <button type="submit">로그인</button>
                        </div>
                    </form>
                 </div>    
            </div>
                <!--login area start-->

                <!--register area start-->
                
                <!--register area end-->
            </div>
        </div>    
    </th:block>
    <!-- customer login end -->

    <!--footer area start-->
    
    <!--footer area end-->
    
    
<!-- JS
============================================ -->


 <script>
  
   var userIdPattern = /^[a-z0-9_-]{5,20}$/i;
   var passwordPattern = /.{6,}/;
   var namePattern = /^[가-힣A-Za-z]+$/; // 한글과 영문 대/소문자만 가능
   var phonePattern = /^[0-9]{10,11}$/; // 10자리 또는 11자리의 숫자만 가능

   document.getElementById("userId").addEventListener("input", validateUserId);
   document.getElementById("password").addEventListener("input", validatePassword);
   document.getElementById("confirmPassword").addEventListener("input", validateConfirmPassword);
   document.getElementById("name").addEventListener("input", validateName);
   document.getElementById("gender").addEventListener("change", validateGender);
   document.getElementById("phone").addEventListener("input", validatePhone);
   document.getElementById("address").addEventListener("input", validateAddress);

   function validateUserId() {
       var userId = document.getElementById("userId").value.trim();
       var userIdError = document.getElementById("userIdError");
       userIdError.innerText = "";

       if (!userId) {
           userIdError.innerText = "아이디를 입력해주세요.";
           return false;
       } else if (!userIdPattern.test(userId)) {
           userIdError.innerText = "5~20자의 영문 소문자, 숫자, 특수 기호 (_) 또는 (-)로만 이루어진 아이디를 입력해주세요.";
           return false;
       }
       return true;
   }

   function validatePassword() {
       var password = document.getElementById("password").value;
       var passwordError = document.getElementById("passwordError");
       passwordError.innerText = "";

       if (!password) {
           passwordError.innerText = "비밀번호를 입력해주세요.";
           return false;
       } else if (!passwordPattern.test(password)) {
           passwordError.innerText = "비밀번호는 6글자 이상이어야 합니다.";
           return false;
       }
       return true;
   }

   function validateConfirmPassword() {
       var password = document.getElementById("password").value;
       var confirmPassword = document.getElementById("confirmPassword").value;
       var confirmPasswordError = document.getElementById("confirmPasswordError");
       confirmPasswordError.innerText = "";

       if (password !== confirmPassword) {
           confirmPasswordError.innerText = "비밀번호가 일치하지 않습니다.";
           return false;
       }
       return true;
   }

   function validateName() {
       var name = document.getElementById("name").value.trim();
       var nameError = document.getElementById("nameError");
       nameError.innerText = "";

       if (!name) {
           nameError.innerText = "이름을 입력해주세요.";
           return false;
       } else if (!namePattern.test(name)) {
           nameError.innerText = "이름: 한글, 영문 대/소문자를 사용해 주세요. (특수기호, 공백 사용 불가)";
           return false;
       }
       return true;
   }

   function validateGender() {
       var gender = document.getElementById("gender").value;
       var genderError = document.getElementById("genderError");
       genderError.innerText = "";

       if (!gender) {
           genderError.innerText = "성별을 선택해주세요.";
           return false;
       }
       return true;
   }

   function validatePhone() {
       var phone = document.getElementById("phone").value.trim();
       var phoneError = document.getElementById("phoneError");
       phoneError.innerText = "";

       if (!phone) {
           phoneError.innerText = "핸드폰 번호를 입력해주세요.";
           return false;
       } else if (!phonePattern.test(phone)) {
           phoneError.innerText = "핸드폰 번호는 숫자만 10~11자리로 입력해주세요.";
           return false;
       }
       return true;
   }

   function validateAddress() {
       var address = document.getElementById("address").value.trim();
       var addressError = document.getElementById("addressError");
       addressError.innerText = "";

       if (!address) {
           addressError.innerText = "주소를 입력해주세요.";
           return false;
       }
       return true;
   }

   function validateForm() {
       var isValid = true;
       if (!validateUserId()) isValid = false;
       if (!validatePassword()) isValid = false;
       if (!validateConfirmPassword()) isValid = false;
       if (!validateName()) isValid = false;
       if (!validateGender()) isValid = false;
       if (!validatePhone()) isValid = false;
       if (!validateAddress()) isValid = false;

       return isValid;
   }




</script>
</body>






<!--jquery min js-->
<script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<!--popper min js-->
<script src="assets/js/popper.js"></script>
<!--bootstrap min js-->
<script src="assets/js/bootstrap.min.js"></script>
<!--owl carousel min js-->
<script src="assets/js/owl.carousel.min.js"></script>
<!--slick min js-->
<script src="assets/js/slick.min.js"></script>
<!--magnific popup min js-->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!--counterup min js-->
<script src="assets/js/jquery.counterup.min.js"></script>
<!--jquery countdown min js-->
<script src="assets/js/jquery.countdown.js"></script>
<!--jquery ui min js-->
<script src="assets/js/jquery.ui.js"></script>
<!--jquery elevatezoom min js-->
<script src="assets/js/jquery.elevatezoom.js"></script>
<!--isotope packaged min js-->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!--slinky menu js-->
<script src="assets/js/slinky.menu.js"></script>
<!--instagramfeed menu js-->
<script src="assets/js/jquery.instagramFeed.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>



</body>

</html>