<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout/layout(title='')">

<head>
    <title>Safira - login</title>
</head>

<body>

     <!--header area start-->
    
    <!--offcanvas menu area start-->
    
    <!--header area end-->

    <!--breadcrumbs area start-->
    <th:block layout:fragment="content">
    <!--breadcrumbs area end-->
    
    <!-- customer login start -->
    
    <div class="customer_login" id="content">
        <div class="container">
            <div class="row">
               <!--login area start-->
               <div class="col-lg-6 col-md-6">
                <!--<div class="account_form">
                    <h2>로그인</h2>
                    <form action="my-account.html" onsubmit="return validateLoginForm()">
                        
                        <p>   
                            <label>아이디 <span>*</span></label>
                            <input type="text" id="loginUserId">
                         </p>
                         <p>   
                            <label>비밀번호 <span>*</span></label>
                            <input type="password" id="loginPassword">
                         </p>   
                        <div class="login_submit">
                           <a href="#"></a>
                            <label for="remember">
                                <input id="remember" type="checkbox">
                                Remember me
                            </label>
                            <button type="button">로그인</button>-->
                            
                            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
                        </div>
                    </form>
                 </div>    
            </div>
                <!--login area start-->

                <!--register area start-->
                
                <!--register area end-->
            </div>
        </div>    
    </th:block>
    <!-- customer login end -->

    <!--footer area start-->
    
    <!--footer area end-->

</body>


</html>