<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout/layout(title='마이페이지')">
<head>
    <title>Safira - my account</title>
    <style>
        .modal-dialog {
        margin: auto;
        margin-top: 20vh; /* 회원탈퇴창 가운데 정도로 떨어트림 */
    }
    
    #visitTable{
    	width: 1000px;
    }

    </style>

</head>

<body>

   <!--header area start-->
    <th:block layout:fragment="content">
    <!--offcanvas menu area start-->
    <!-- <div class="off_canvars_overlay"> </div> -->
    <!--offcanvas menu area end-->
    
    <!--header area end-->
    
    <!--breadcrumbs area start-->
    <!-- <div class="breadcrumbs_area"> -->
    <!--breadcrumbs area end-->
    
    <!-- my account start  -->
    <section class="main_content_area">
        <div class="container">   
            <div class="account_dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <div class="dashboard_tab_button">
                            <ul role="tablist" class="nav flex-column dashboard-list">
                                <li><a href="userinfo" class="nav-link">내정보</a></li>
                                <li><a href="userinfo/mypet"  class="nav-link">마이펫</a></li>
                                <li><a href="couponList"  class="nav-link">쿠폰</a></li>
                                <li><a href="adoptByUserNo"  class="nav-link">입양</a></li>
								<li><a th:if="${session.userName == '관리자'}" href="adminVolunteerList"
											class="nav-link">관리자 전용봉사목록</a></li>
								<li><a th:if="${session.userName != '관리자'}" href="volunteerByUserNo"
											class="nav-link">봉사</a></li>   
								<li><a th:if="${session.userName == '관리자'}" href="adminVisitList"
											class="nav-link">관리자 전용견학목록</a></li>
									<li><a th:if="${session.userName != '관리자'}" href="visitByUserNo"
											class="nav-link">견학</a></li>
											<li><a th:if="${session.userName == '관리자'}" href="centerListAll"
											class="nav-link">관리자 보호소목록</a></li>
									<li><a th:if="${session.userName != '관리자'}" style="display: none;"
											class="nav-link"></a></li>
                                <li> <a th:if="${session.userName == '관리자'}" href="ordersList" class="nav-link">관리자
											전용주문목록</a></li>
									<li> <a th:if="${session.userName != '관리자'}" href="orders" class="nav-link">주문목록</a></li>
                                <li><a href="logout" class="nav-link">로그아웃</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#deleteModal" class="nav-link">회원탈퇴</a></li>

                            </ul>
                        </div>    
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content">
                        
		                 <!--<div class="tab-pane fade" id="volunteer">-->
                                <h3>견학</h3>
                                <div class="table-responsive" id="visitTable">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Center</th>
                                                <th>Status</th>    
                                                <!-- <th>Update</th> -->
                                                <th>Update/Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
											
											
											<tr th:each="visit, rowStat : ${visitList}">
												<td th:text="${visitList.size() - rowStat.index}"></td>								
												<td th:text="${#strings.substring(visit.visitDate.toString(), 0, 10)}"></td>
											
												
										 		
												<td> <!-- 13PM, 14PM ... 18PM -->
												    <span th:if="${visit.visitTime < 12}" th:text="${visit.visitTime + ' AM'}"></span>
												    <span th:if="${visit.visitTime >= 12}" th:text="${visit.visitTime + ' PM'}"></span>
												</td>
												
										
											<td th:text="${visit.Center.centerName}"></td>


												<td th:text="${visit.visitStatus}"><span class="success">견학신청</span></td>
												
												<td>												
							
												
												<a th:href="@{'/?visitNo=' + ${visit.visitNo} + '&amp;centerNo=' + ${visit.Center.centerNo}}">수정</a>
												<button type="submit" class="deleteBtn" th:id="'deleteBtn-' + ${visit.visitNo} " >취소</button>		
												
											
												</td>
												
											</tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--</div>-->
                            
                            <!--<div class="tab-pane fade" id="account-details">-->
                          
                           <!--   </div>-->
                        </div>
                    </div>
                </div>
            </div>          	
    </section>	
    
    <!-- my account end   --> 

      <!--footer area start-->
  
 
    <!--footer area end-->



 


<!--주문한 상품 리뷰쓰기 
<script>

    // 마이페이지 상품주문 완료된 항목에서 주문상세를 누르면 창이 뜨고 이 창에서만 리뷰를 쓸수 있음
    // 주문 상세 링크를 클릭할 때 이벤트 핸들러
    document.querySelector('.table').addEventListener('click', function(e) {
    if (e.target.classList.contains('view')) {
        e.preventDefault();
        
        // 주문상세 정보를 로드 하기
        

        // 모달창 표시
        $('#orderDetailsModal').modal('show');
    }
    });

</script> -->


<!-- my-account 에서 취소버튼  -->
<script> 
	$('.deleteBtn').on('click', function (e) {
		e.preventDefault();
		let id = $(this).attr('id');
		let no = id.split('-')[1];

		if (isNaN(no)) {
			alert('visitNo 가져오기실패')
			return;
		}

		let sendJsonObject = {visitNo: no};
		let $row = $(this).closest('tr');

		$.ajax({
			type: 'DELETE',
			url: 'visit/' + no,
			data: JSON.stringify(sendJsonObject),
			contentType: 'application/json;UTF-8',
			success: function (response) {
				if (response && response.visitNo == null) {
					alert('신청내역이 없습니다.');
				} else {
					alert('예약취소가 완료되었습니다.');
					$row.remove();
					window.location.href = "visitByUserNo"
				}
			},
			error: function () {
				alert('취소 요청중 오류가 발생했습니다.');
			}
		});
	});
</script>


</th:block>		



</body>

</html>
