<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout(title='registerMyPet')">

<head>
	<title>Register</title>
</head>

<body>
	
	<th:block layout:fragment="content">
		<div class="customer_login" id="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="account_form register">
							<h2 th:text="MyPet">Register</h2>
							<form name="f" action="#">
								<p>
									<label th:text="이름">Email address <span>*</span></label>
									<input type="text" id="mypetName">
								</p>
								<p>
									<label th:text="생일">Passwords <span>*</span></label>
									<input type="text" id="mypetBirthday">
								</p>
								<p>
									<label>종류 <span>*</span></label>
									<select id="kind">
										<option value="">종류 선택</option>
										<option value="남" th:text="강아지" th:value="강아지">남</option>
										<option value="여" th:text="고양이" th:value="고양이">여</option>
									</select>
									<span id="kindError" style="color:red;"></span>
								</p>
								<div class="login_submit">
									<button id="registerMyPetButton" type="button" onclick="inserted(event)">확인</button>
									<!--<button id="registerButton" type="button">등록</button>-->
								</div>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	<script>
		 
	 	function ajaxRequest(method, url, sendJsonObject) {
			let returnResultJsonObject={};
			$.ajax({
				async:false,
				method: method,
				url: url,
				contentType: 'application/json;UTF-8',
				data: JSON.stringify(sendJsonObject),
				type: 'json',
				success: function(resultJsonObject) {
					returnResultJsonObject = resultJsonObject;
				}
			});
			return returnResultJsonObject;
		}
		
		
		function inserted(e){
			
			    // 날짜 문자열을 Date 객체로 변환
    const mypetBirthdayStr = document.f.mypetBirthday.value;
    const mypetBirthdayDate = new Date(mypetBirthdayStr);

    // Date 객체를 LocalDateTime으로 변환
    const mypetBirthdayLocalDateTime = new Date(
        mypetBirthdayDate.getTime() - mypetBirthdayDate.getTimezoneOffset() * 60000
    );
    
			let sendJsonObject={
				mypetName:document.f.mypetName.value,
				  mypetBirthday: mypetBirthdayLocalDateTime.toISOString(),
				//mypetBirthday:document.f.mypetBirthday.value,
				mypetKind:document.f.kind.value
			};               
			
			ajaxRequest('POST','mypet/inserted',sendJsonObject);
			window.location.href = "mypet"; // 페이지 이동
		}	
		
		/*
		document.getElementById("registerMyPetButton").addEventListener("click", function (e) {
			// 버튼 클릭 시 실행할 코드
			alert('클릭');
			
		});
		*/
	</script>
	</th:block>
	
</body>

</html>