<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='volunteer')">



<head>
<title>Safira - contact page</title>
</head>

<body>

	<!--header area start-->

	<!--offcanvas menu area start-->


	<!--offcanvas menu area end-->


	<!--header area end-->

	<!--breadcrumbs area start-->

	<!--breadcrumbs area end-->
	<th:block layout:fragment="content">
		<!--contact map start-->
		<!-- <div class="contact_map mt-70">
       <div class="map-area">
          <div id="googleMap"></div>
       </div>
    </div>-->
		<!--contact map end-->

		<!--contact area start-->
		<div class="contact_area">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<!-- 이미지 추가 -->
						<div class="contact_message content">
							<div class="zoomWrapper single-zoom">
								<a href="#"> 
								<img id="zoom1" src="image/volunteer/center_name1.png"
									data-zoom-image="image/volunteer/center_name1.png" alt="센터이미지">
								</a>
							</div>
							
							<!-- 센터 정보 -->
							<h2>센터 정보</h2>
							<p>센터 번호: <span th:text="${center.centerNo}">10</span></p>
							<p>센터 이름: <span th:text="${center.centerName}">10</span></p>
							<p>전화번호: <span th:text="${center.centerPhoneNumber}">10</span></p>
							<p>로컬: <span th:text="${center.centerLocal}">10</span></p>
							<p>오픈/클로즈 시간: <span th:text="${center.centerOpenCloseTime}">10</span></p>

							<!-- <ul>
								<li><i class="fa fa-fax"></i> 주소 : 서울시 강남구</li>
								<li><i class="fa fa-phone"></i> <a href="#">Infor@roadthemes.com</a></li>
								<li><i class="fa fa-envelope-o"></i><a href="tel:0(1234)567890">0(1234) 567 890</a></li>
							</ul> -->
							
						</div>
					</div>
					
					
					<div class="col-lg-6 col-md-6">
						<div class="contact_message form">
							<h3>신청 양식</h3>
							<!-- 달력 -->
							<form th:action="@{/create-volunteer}" method="post" th:object="${volunteer}">
								
								<input type="hidden" name="centerNo" th:value="${center.centerNo}" />
								
								<p>
									<label>방문예약</label> 
									<!-- <input type="date" name="volunteerDate"> -->
									<!-- th:value 에 설정함. 현재 날짜를 "yyyy-MM-dd" 형식으로 형식화한 문자열을 반환 -->
									<input type="date" name="volunteerDate" id="volunteerDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
								
								</p>
								
								<p>
									<label>방문 시간</label>
									<select name="volunteerTime">
										<option value="09">09 AM</option>
										<option value="10">10 AM</option>
										<option value="11">11 AM</option>
										<option value="12">12 PM</option>
										<option value="13">13 PM</option>
										<option value="14">14 PM</option>
										<option value="15">15 PM</option>
										<option value="16">16 PM</option>
										<option value="17">17 PM</option>
										<option value="18">18 PM</option>
										<option value="19">19 PM</option>
									</select>
								</p>
								
								
								<button type="submit">확인</button>
								<p class="form-messege"></p>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<!--contact area end-->

	<!--footer area start-->

	<!--footer area end-->



	<!-- JS
============================================ -->

	<!--map js code here-->
	<script
		src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.22&amp;key=AIzaSyChs2QWiAhnzz0a4OEhzqCXwx_qA9ST_lE"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script src="assets/js/map.js"></script>
	
	<script>
        // 현재 시간을 가져오는 함수
        function getCurrentTime() {
            var currentDate = new Date();
            var currentHour = currentDate.getHours();
            return currentHour;
        }

        // 페이지 로드 시 실행되는 함수
        function setupTimeSelect() {
            var currentTime = getCurrentTime();
            var volunteerDate = document.getElementById('volunteerDate');

            // 현재 날짜를 가져오기
            var today = new Date().toISOString().split('T')[0];

            // 현재 날짜로 설정
            volunteerDate.setAttribute('min', today);

            // 현재 시간 이후의 시간을 선택할 수 없도록 설정
            volunteerDate.addEventListener('input', function() {
                var selectedDate = new Date(volunteerDate.value);
                if (selectedDate.toISOString().split('T')[0] === today) {
                    var selectElement = document.querySelector('select[name="volunteerTime"]');
                    for (var i = 0; i < selectElement.options.length; i++) {
                        var optionValue = parseInt(selectElement.options[i].value);
                        if (optionValue < currentTime) {
                            selectElement.options[i].disabled = true;
                        } else {
                            selectElement.options[i].disabled = false;
                        }
                    }
                }
            });
        }

        // 페이지 로드 시 실행
        window.onload = setupTimeSelect;
    </script>

</body>

</html>