<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='volunteer')">



<head>
<title>Safira - contact page</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style type="text/css">
#volunteerDate {
	border: 1px solid black;
	position: relative;
	width: 100%;
	padding: 10px;
	background-color: transparent;
	border-radius: 8px;
	text-align: center;
	font-size: 100%;
	margin-bottom: 20px;
	
}

#volunteerDate::-webkit-calendar-picker-indicator {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	color: transparent;
	cursor: pointer;
}

#volunteerDate::before {
	content: attr(placeholder);
	width: 100%;
	height: 100%;
}

#volunteerDate:valid::before {
	display: none;
}
</style>

<script>
// 페이지 로드 시 실행
window.onload = function() {
    var volunteerDate = document.getElementById('volunteerDate');
    var today = new Date();
    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1); // 내일 날짜 계산
    var todayString = today.toISOString().slice(0, 10);
    var tomorrowString = tomorrow.toISOString().slice(0, 10);
    
    // 현재 날짜를 기본값으로 설정
    volunteerDate.value = tomorrowString;
    
    // 현재 날짜를 포함한 이전 날짜를 비활성화
    volunteerDate.setAttribute('min', tomorrowString);
};
</script>


</head>

<body>

	<!--header area start-->

	<!--offcanvas menu area start-->


	<!--offcanvas menu area end-->


	<!--header area end-->

	<!--breadcrumbs area start-->

	<!--breadcrumbs area end-->
	<th:block layout:fragment="content">
		<!--contact map start-->
		<!-- <div class="contact_map mt-70">
       <div class="map-area">
          <div id="googleMap"></div>
       </div>
    </div>-->
		<!--contact map end-->

		<!--contact area start-->
		<div class="contact_area" style="margin-top: 100px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="contact_message content">
							<div class="zoomWrapper single-zoom">								
							</div>
							
							<!-- 센터 정보 -->
							<h2>센터 정보</h2>
							<p>센터 번호: <span th:text="${center.centerNo}">10</span></p>
							<p>센터 이름: <span th:text="${center.centerName}">10</span></p>
							<p>전화번호: <span th:text="${center.centerPhoneNumber}">10</span></p>
							<p>로컬: <span th:text="${center.centerLocal}">10</span></p>
							<p>오픈/클로즈 시간: <span th:text="${center.centerOpenCloseTime}">10</span></p>
							
						</div>
					</div>
					
					
					<div class="col-lg-6 col-md-6">
						<div class="contact_message form">
							<h3 style="font-weight: bold">신청 양식</h3>
							
							<form th:action="@{/create-volunteer}" method="post" th:object="${volunteer}">
							
								
								<input type="hidden" id="centerid" name="centerNo" th:value="${center.centerNo}" />
								
								<div>
									<span>방문예약</span> 
									<!-- <input type="date" name="volunteerDate"> -->
									<!--  th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" 이 코드 추가시 현재 날짜 보여줌 -->
									<input type="date" name="volunteerDate"
										id="volunteerDate" placeholder="날짜를 선택해주세요"  required="required" >  
									
						

								</div>
								
								<div>
									<span>방문 시간</span>
									
									<!-- <input type="time" name="volunteerTime" > -->
									<select name="volunteerTime" id="volunteerTime">
										<option value="09">09 AM</option>
										<option value="10">10 AM</option>
										<option value="11">11 AM</option>
										<option value="12">12 PM</option>
										<option value="13">13 PM</option>
										<option value="14">14 PM</option>
										<option value="15">15 PM</option>
										<option value="16">16 PM</option>
										<option value="17">17 PM</option>
										<option value="18">18 PM</option>
										<option value="19">19 PM</option>
									</select>
								</div>
								
								
								<button type="submit" class="submit">submit</button>
								<!-- <p class="form-messege"></p> -->
								
								
								<p th:text="${message}" class="success-message"></p>
								<p th:text="${error}" class="error-message"></p>
								
								
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	
	
	
<script>

function ajaxRequest(method, url, sendJsonObject) {
		let returnResultJsonObject={};
		$.ajax({
			async:false,
			method: method,
			url: url,
			contentType: 'application/json;UTF-8',
			data: JSON.stringify(sendJsonObject),
			type: 'json',
			success: function(resultJsonObject) {
				returnResultJsonObject = resultJsonObject;
			}
		});
		return returnResultJsonObject;
	}

//AJAX 요청
$('.submit').on('click', function (event) {
    event.preventDefault();
    let centerNo = $('#centerid').val(); // 센터 번호를 정의
    let volunteerDate = $('#volunteerDate').val();
    let volunteerTime = $('#volunteerTime').val();

    let sendJsonObject = {
        centerNo: centerNo,
        volunteerDate: volunteerDate,
        volunteerTime: volunteerTime,
        volunteerStatus: "봉사신청"
    };
    
    let response = ajaxRequest('POST','volunteer/create-volunteer',sendJsonObject);
    if(response.userNo!=null){
    	alert('신청이 완료되었습니다.');
    	window.location.href = 'index'; // 센터 페이지로 이동
    }else{
    	alert('로그인이 필요합니다.');
        window.location.href = 'index'; // 로그인 페이지로 이동
    }
});

/*
    $.ajax({
        method: 'POST',
        url: '/create-volunteer',
        contentType: 'application/json; charset=UTF-8',
        data: JSON.stringify(sendJsonObject),
        dataType: 'json',
        success: function (response) {
        	 if (response === 1) {
                 alert('로그인이 필요합니다.');
                 window.location.href = '/index'; // 로그인 페이지로 이동
             } else {
                 alert('봉사신청이 완료되었습니다.');
                 window.location.href = '/index'; // 센터 페이지로 이동
             }
         },
        error: function (error) {
            console.error('AJAX 요청 실패:', error);
            alert('봉사신청 중 오류가 발생했습니다.');
        }
    });
//AJAX 요청
$('.submit').on('click', function (event) {
    event.preventDefault();
    let centerNo = $('#centerid').val(); // 센터 번호를 정의
    let volunteerDate = $('#volunteerDate').val();
    let volunteerTime = $('#volunteerTime').val();
	
    
    let sendJsonObject = {
        centerNo: centerNo,
        volunteerDate: volunteerDate,
        volunteerTime: volunteerTime,
        volunteerStatus: "봉사신청"
    };
    let responseObject=ajaxRequest('POST','volunteer/create-volunteer',sendJsonObject);
	
    if(responseObject.status == null){
		alert('로그인이 필요합니다.');
		window.location.href = 'index';	// 로그인 창으로 이동
	}else{
		alert('봉사신청이 완료되었습니다.');
		window.location.href = 'center-list'; // 센터 페이지로 이동
	}
    
});   

    // AJAX 요청
     $.ajax({
        method: 'POST',
        url: '/volunteer/create-volunteer',
        contentType: 'application/json; charset=UTF-8',
        data: JSON.stringify(sendJsonObject),
        dataType: 'json',
        success: function(responseObject) {
            if (responseObject.status === 401) {
                alert('로그인이 필요합니다.');
                window.location.href = '/index/login.html'; // 수정된 로그인 페이지 URL로 이동
            } else if (responseObject.status === 201) {
                alert('봉사 신청이 완료되었습니다.');
            }
        }, 
         error: function(error) {
            console.error('AJAX 요청 실패:', error);
            alert('로그인이 필요합니다.');
        }
    });
*/


</script> 
	
	
	</th:block>
	<!--contact area end-->

	<!--footer area start-->

	<!--footer area end-->



	<!-- JS
============================================ -->

	<!--map js code here-->
	<script
		src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.22&amp;key=AIzaSyChs2QWiAhnzz0a4OEhzqCXwx_qA9ST_lE"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script src="assets/js/map.js"></script>

</body>

</html>